@import '../../scss/variable';
@import '../../scss/mixin';



.header{
    top: 0;
    text-align: center;
    margin-bottom: 1rem;
    background-color: $backgroundColor;
    padding: 1rem;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    position: fixed;
    width: 100%;
    z-index: 4;
    opacity: 0.8;

    
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

    &-text{
        font-size: 2rem;
        font-family: 'Kanit';
        color: $secondaryColor;
    }


}